@font-face {
    font-family: 'Inter_bold';
    src: url('../fonts/Inter18pt-Bold.eot');
    src: url('../fonts/Inter18pt-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter18pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter18pt-Bold.woff') format('woff'),
        url('../fonts/Inter18pt-Bold.ttf') format('truetype'),
        url('../fonts/Inter18pt-Bold.svg#Inter18pt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter900';
    src: url('../fonts/Inter18pt-Black.eot');
    src: url('../fonts/Inter18pt-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter18pt-Black.woff2') format('woff2'),
        url('../fonts/Inter18pt-Black.woff') format('woff'),
        url('../fonts/Inter18pt-Black.ttf') format('truetype'),
        url('../fonts/Inter18pt-Black.svg#Inter18pt-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter_extraBold';
    src: url('../fonts/Inter18pt-ExtraBold.eot');
    src: url('../fonts/Inter18pt-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter18pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraBold.woff') format('woff'),
        url('../fonts/Inter18pt-ExtraBold.ttf') format('truetype'),
        url('../fonts/Inter18pt-ExtraBold.svg#Inter18pt-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter200';
    src: url('../fonts/Inter18pt-ExtraLight.eot');
    src: url('../fonts/Inter18pt-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter18pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraLight.woff') format('woff'),
        url('../fonts/Inter18pt-ExtraLight.ttf') format('truetype'),
        url('../fonts/Inter18pt-ExtraLight.svg#Inter18pt-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter300';
    src: url('../fonts/Inter18pt-Light.eot');
    src: url('../fonts/Inter18pt-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter18pt-Light.woff2') format('woff2'),
        url('../fonts/Inter18pt-Light.woff') format('woff'),
        url('../fonts/Inter18pt-Light.ttf') format('truetype'),
        url('../fonts/Inter18pt-Light.svg#Inter18pt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter500';
    src: url('../fonts/Inter18pt-Medium.eot');
    src: url('../fonts/Inter18pt-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter18pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter18pt-Medium.woff') format('woff'),
        url('../fonts/Inter18pt-Medium.ttf') format('truetype'),
        url('../fonts/Inter18pt-Medium.svg#Inter18pt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter18pt-Regular.eot');
    src: url('../fonts/Inter18pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter18pt-Regular.woff') format('woff'),
        url('../fonts/Inter18pt-Regular.ttf') format('truetype'),
        url('../fonts/Inter18pt-Regular.svg#Inter18pt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter100';
    src: url('../fonts/Inter18pt-Thin.eot');
    src: url('../fonts/Inter18pt-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter18pt-Thin.woff2') format('woff2'),
        url('../fonts/Inter18pt-Thin.woff') format('woff'),
        url('../fonts/Inter18pt-Thin.ttf') format('truetype'),
        url('../fonts/Inter18pt-Thin.svg#Inter18pt-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter600';
    src: url('../fonts/Inter18pt-SemiBold.eot');
    src: url('../fonts/Inter18pt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter18pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter18pt-SemiBold.woff') format('woff'),
        url('../fonts/Inter18pt-SemiBold.ttf') format('truetype'),
        url('../fonts/Inter18pt-SemiBold.svg#Inter18pt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk_Light';
    src: url('../fonts/SpaceGrotesk-Light.eot');
    src: url('../fonts/SpaceGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpaceGrotesk-Light.woff2') format('woff2'),
        url('../fonts/SpaceGrotesk-Light.woff') format('woff'),
        url('../fonts/SpaceGrotesk-Light.ttf') format('truetype'),
        url('../fonts/SpaceGrotesk-Light.svg#SpaceGrotesk-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SpaceGrotesk_Medium';
    src: url('../fonts/SpaceGrotesk-Medium.eot');
    src: url('../fonts/SpaceGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/SpaceGrotesk-Medium.woff') format('woff'),
        url('../fonts/SpaceGrotesk-Medium.ttf') format('truetype'),
        url('../fonts/SpaceGrotesk-Medium.svg#SpaceGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk_Bold';
    src: url('../fonts/SpaceGrotesk-Bold.eot');
    src: url('../fonts/SpaceGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/SpaceGrotesk-Bold.woff') format('woff'),
        url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype'),
        url('../fonts/SpaceGrotesk-Bold.svg#SpaceGrotesk-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk_Regular';
    src: url('../fonts/SpaceGrotesk-Regular.eot');
    src: url('../fonts/SpaceGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/SpaceGrotesk-Regular.woff') format('woff'),
        url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype'),
        url('../fonts/SpaceGrotesk-Regular.svg#SpaceGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk_SemiBold';
    src: url('../fonts/SpaceGrotesk-SemiBold.eot');
    src: url('../fonts/SpaceGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'),
        url('../fonts/SpaceGrotesk-SemiBold.woff') format('woff'),
        url('../fonts/SpaceGrotesk-SemiBold.ttf') format('truetype'),
        url('../fonts/SpaceGrotesk-SemiBold.svg#SpaceGrotesk-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wvvnqc');
  src:  url('../fonts/icomoon.eot?wvvnqc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wvvnqc') format('truetype'),
    url('../fonts/icomoon.woff?wvvnqc') format('woff'),
    url('../fonts/icomoon.svg?wvvnqc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pic-1 .path1:before {
  content: "\e912";
  color: rgb(245, 185, 171);
}
.icon-pic-1 .path2:before {
  content: "\e913";
  margin-left: -0.8505859375em;
  color: rgb(0, 0, 0);
}
.icon-pic-1 .path3:before {
  content: "\e914";
  margin-left: -0.8505859375em;
  color: rgb(11, 25, 44);
}
.icon-pic-1 .path4:before {
  content: "\e915";
  margin-left: -0.8505859375em;
  color: rgb(238, 238, 238);
}
.icon-pic-1 .path5:before {
  content: "\e916";
  margin-left: -0.8505859375em;
  color: rgb(245, 185, 171);
}
.icon-pic-1 .path6:before {
  content: "\e917";
  margin-left: -0.8505859375em;
  color: rgb(238, 238, 238);
}
.icon-pic-1 .path7:before {
  content: "\e918";
  margin-left: -0.8505859375em;
  color: rgb(11, 25, 44);
}
.icon-pic-1 .path8:before {
  content: "\e919";
  margin-left: -0.8505859375em;
  color: rgb(11, 25, 44);
}
.icon-pic-1 .path9:before {
  content: "\e91a";
  margin-left: -0.8505859375em;
  color: rgb(0, 0, 0);
}
.icon-pic-1 .path10:before {
  content: "\e91b";
  margin-left: -0.8505859375em;
  color: rgb(238, 238, 238);
}
.icon-pic-1 .path11:before {
  content: "\e91c";
  margin-left: -0.8505859375em;
  color: rgb(238, 238, 238);
}
.icon-pic-1 .path12:before {
  content: "\e91d";
  margin-left: -0.8505859375em;
  color: rgb(11, 25, 44);
}
.icon-pic-1 .path13:before {
  content: "\e91e";
  margin-left: -0.8505859375em;
  color: rgb(238, 238, 238);
}
.icon-pic-1 .path14:before {
  content: "\e91f";
  margin-left: -0.8505859375em;
  color: rgb(238, 238, 238);
}
.icon-pic-1 .path15:before {
  content: "\e920";
  margin-left: -0.8505859375em;
  color: rgb(245, 185, 171);
}
.icon-pic-2 .path1:before {
  content: "\e921";
  color: rgb(11, 25, 44);
}
.icon-pic-2 .path2:before {
  content: "\e922";
  margin-left: -1.169921875em;
  color: rgb(0, 0, 0);
}
.icon-pic-2 .path3:before {
  content: "\e923";
  margin-left: -1.169921875em;
  color: rgb(238, 238, 238);
}
.icon-pic-2 .path4:before {
  content: "\e924";
  margin-left: -1.169921875em;
  color: rgb(11, 25, 44);
}
.icon-pic-2 .path5:before {
  content: "\e925";
  margin-left: -1.169921875em;
  color: rgb(238, 238, 238);
}
.icon-pic-2 .path6:before {
  content: "\e926";
  margin-left: -1.169921875em;
  color: rgb(245, 185, 171);
}
.icon-pic-2 .path7:before {
  content: "\e927";
  margin-left: -1.169921875em;
  color: rgb(0, 0, 0);
}
.icon-pic-2 .path8:before {
  content: "\e928";
  margin-left: -1.169921875em;
  color: rgb(11, 25, 44);
}
.icon-pic-2 .path9:before {
  content: "\e929";
  margin-left: -1.169921875em;
  color: rgb(238, 238, 238);
}
.icon-pic-2 .path10:before {
  content: "\e92a";
  margin-left: -1.169921875em;
  color: rgb(0, 0, 0);
}
.icon-pic-2 .path11:before {
  content: "\e92b";
  margin-left: -1.169921875em;
  color: rgb(238, 238, 238);
}
.icon-pic-2 .path12:before {
  content: "\e92c";
  margin-left: -1.169921875em;
  color: rgb(245, 185, 171);
}
.icon-pic-2 .path13:before {
  content: "\e92d";
  margin-left: -1.169921875em;
  color: rgb(11, 25, 44);
}
.icon-pic-2 .path14:before {
  content: "\e92e";
  margin-left: -1.169921875em;
  color: rgb(0, 0, 0);
}
.icon-pic-2 .path15:before {
  content: "\e92f";
  margin-left: -1.169921875em;
  color: rgb(11, 25, 44);
}
.icon-pic-2 .path16:before {
  content: "\e930";
  margin-left: -1.169921875em;
  color: rgb(11, 25, 44);
}
.icon-pic-2 .path17:before {
  content: "\e931";
  margin-left: -1.169921875em;
  color: rgb(11, 25, 44);
}
.icon-pic-2 .path18:before {
  content: "\e932";
  margin-left: -1.169921875em;
  color: rgb(11, 25, 44);
}
.icon-pic-2 .path19:before {
  content: "\e933";
  margin-left: -1.169921875em;
  color: rgb(11, 25, 44);
}
.icon-pic-2 .path20:before {
  content: "\e934";
  margin-left: -1.169921875em;
  color: rgb(238, 238, 238);
}
.icon-external-link:before {
  content: "\e905";
}
.icon-figma:before {
  content: "\e904";
}
.icon-bootstrap:before {
  content: "\e900";
}
.icon-javascript:before {
  content: "\e901";
}
.icon-dart:before {
  content: "\e90d";
}
.icon-database:before {
  content: "\e90e";
}
.icon-flutter:before {
  content: "\e90f";
}
.icon-java:before {
  content: "\e910";
}
.icon-python:before {
  content: "\e911";
}
.icon-email:before {
  content: "\e908";
}
.icon-copy:before {
  content: "\e909";
}
.icon-moon:before {
  content: "\e90a";
}
.icon-open-link-icon:before {
  content: "\e90b";
}
.icon-drop-down:before {
  content: "\e90c";
}
.icon-css:before {
  content: "\e902";
}
.icon-git:before {
  content: "\e903";
}
.icon-html:before {
  content: "\e906";
}
.icon-sass:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e942";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
