footer {
    padding: 20px;
    background-color: #1e293b;
    // background-color: #0B192C;

    .container {
        h3 {
            text-align: center;
            color: #e5e7eb;
        }
    }
}